.btn-text {
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-icon {
  margin-top: -2px;
  color: gray;
  transition: transform 0.5s ease;
}

.btn-icon.rotated {
  transform: rotate(180deg);
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 7px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.1s ease;
}

.button:hover {
  background-color: lightgray;
}

.menu {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 15px 7px 5px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 20vw;
}

.menu-item {
  padding: 10px 8px;
  border-radius: 8px;
  transition: background-color 0.1s ease;
}

.suffix {
  font-family: "Euclid Circular B", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: darkslategray;
  text-align: end;
  margin: 0;
  padding-top: 2px;
}

.suffix-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.open {
}

.open:hover {
  background-color: lightgray;
  cursor: pointer;
}

.title {
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 3px;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subtitle {
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: darkslategray;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
