<div class="container">
  <div class="left-menu">
    <h1 class="landing-text">{{'landing-text-1' | translate}}<br>{{'landing-text-2' | translate}}</h1>
    <button class="action-button" mat-raised-button>{{'download-app' | translate}}</button>
    <p class="text">{{'order-web' | translate}}</p>
    <div class="order-web">
      <p class="order-text">{{'order-car-web' | translate}}</p>
      <mat-icon class="order-icon">arrow_forward</mat-icon>
    </div>
  </div>
  <div class="right-img">
    <img class="cover-img" src="assets/images/bolt-cover.png" alt="Woman in car">
  </div>
</div>
