<div class="container">
  <div class="step-list">
    <div class="step">
      <div class="icon-container">
        <mat-icon class="step-icon">directions_car</mat-icon>
      </div>
      <h1 class="main-text">{{'safe-secure' | translate}}</h1>
      <h1 class="sub-text sm">{{'safe-secure-long' | translate}}</h1>
      <a href="https://bolt.eu/et-ee/rider/safety/" target="_blank" class="sub-text link">{{'read-more-secure' | translate}}</a>
    </div>
    <div class="step">
      <div class="icon-container">
        <mat-icon class="step-icon">favorite</mat-icon>
      </div>
      <h1 class="main-text">{{'happy-drivers' | translate}}</h1>
      <h1 class="sub-text">{{'why-happy' | translate}}<br>{{'why-happy-2' | translate}}</h1>
    </div>
    <div class="step">
      <div class="icon-container">
        <mat-icon class="step-icon">nature</mat-icon>
      </div>
      <h1 class="main-text">{{'green-future' | translate}}</h1>
      <h1 class="sub-text">{{'so-green' | translate}}<br>{{'so-green-2' | translate}}</h1>
    </div>
  </div>
</div>
