.switcher-text {
  font-family: "Euclid Circular B", sans-serif;
  font-weight: 600;
  margin: 0 0 0 5px;
  font-size: 16px;
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 32px;
  background-color: #EDEDED;
}

.padding {
  padding: 6px 10px;
}

.lang-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
