<div class="container">
  <div class="step-list">
    <div class="step">
      <div class="step-image">
        <img class="car-image" src="assets/images/car.svg" alt="Car">
      </div>
      <h1 class="large-text">{{'drive-bolt' | translate}}</h1>
      <h1 class="small-text">{{'car-close' | translate}}</h1>
    </div>
    <div class="step">
      <div class="step-image">
        <img class="wallet-image" src="assets/images/wallet.svg" alt="Wallet">
      </div>
      <h1 class="large-text">{{'best-prices' | translate}}</h1>
      <h1 class="small-text">{{'price-city' | translate}}<br>{{'check-it-out' | translate}}</h1>
    </div>
    <div class="step">
      <div class="step">
        <div class="step-image">
          <img class="mobile-image" src="assets/images/mobile.svg" alt="Mobile">
        </div>
      </div>
      <h1 class="large-text">{{'easy' | translate}}</h1>
      <h1 class="small-text">{{'arrive-destination' | translate}}</h1>
    </div>
  </div>
</div>
