.container {
  display: flex;
  max-width: 80%;
  justify-content: flex-start;
  align-self: center;
  justify-self: center;
  margin: 25px auto 15px;
}

.logo {
  margin-right: 25px;
  height: auto;
}

.btn-text {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.btn-icon {
  margin-top: -2px;
  color: gray;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 7px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: lightgray;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



