.container {
  display: flex;
  max-width: 100%;
  justify-content: flex-start;
  align-self: center;
  justify-self: center;
  padding: 25px 10vw 15px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
  background-color: white;
  margin-top: -5px;
}

.logo {
  margin-right: 25px;
  height: auto;
}

.btn-text {
  font-family: 'Euclid Circular B', sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-icon {
  margin-top: -2px;
  color: gray;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 7px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: lightgray;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



